html{
    overflow-x: hidden;
}

body{

    margin: 0;
    padding:0;
    width: 100%;
}

.pack {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 600px) {
        width: 95%;
    }
}


header, footer {
    margin: 1em 0 0 0;
    color: #6d6d6d;
    text-align: center;
    a {
        color: #333;
        text-decoration: underline;
    }
    .lang {
        display: block;
        margin-top: 1em;
    }
}
footer {
    margin: 2em;
}

.card {
    /*background color: #05a; */
    border: none;
    margin: 5px;
    width: 250px;
    height: 200px;
    padding:20px;
    box-shadow: 0px 0px 5px #9a9a9a;
    display: inline-block;
    -webkit-transition-duration: 0,3s;
    transition-duration: 0.3s;
}

.card:hover {
    box-shadow: 0px 0px 10px #333;
}

.card-number {
    font-weight: 700;
    font-size: 5em;
    color: #fff;
    line-height: 1.5;
    text-align: center;    
}

.card-title {
    font-weight: 700;
    font-size: 1.5em;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    line-height: 2;
    text-shadow: 0px 1px 0px #ddd, 0px 2px 0px #ddd, 0px 3px 0px #aaa, 0 10px 10px rgba(0,0,0,.15);


}

.link {
    text-decoration: none;
}


.logo {
    @media screen and (max-width: 600px) {
        width: 33px;
    }
}


h2 {
    /*display: inline;*/
    font-family: sans-serif;
    color: #444;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-left: 10px;
    @media screen and (max-width: 600px) {
        font-size: 25px;
    }
}